body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(http://www.baltana.com/files/wallpapers-2/Dark-Background-04536.jpg);
    /*url(https://wallpaper-house.com/wallpaper-id-237195.php);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  bottom: 0;
  padding: 5px 0px;
  position: fixed;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: auto auto;
  background-color: #202124;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: '550px';
}

.btn {
  text-align: center;
  /*position: relative;*/
  display: inline-block;
}

.modal {
  display: flex;
  border-radius: 15px;
  position: absolute;
  top: -550px;
  flex-direction: 'row';
  right: 10px;
  width: 360px;
  float: right;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-chat {
  border-radius: 15px;
  display: flex;
  position: fixed;
  top: 0;
  height: 92%;
  flex-direction: 'row';
  right: 10px;
  width: 360px;
  float: right;
  background-color: rgb(0, 0, 0);
}

.modal_content {
  border-radius: 15px;
  background-color: white;
  position: static;
  height: 99%;
  width: 98%;
  margin: 1%;
}

.close {
  height: 30px;
  width: 30px;
  color: Black;
  float: right;
}

.close:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.registration {
  border-right-width: 10px;
}

input {
  width: 250px;
  height: 40px;
}