.btn {
    text-align: center;
    /*position: relative;*/
    display: inline-block;
}

.modal {
    display: flex;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    flex-direction: 'row';
    right: 10px;
    width: 360px;
    float: right;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
    background-color: white;
    position: static;
    height: 98%;
    width: 98%;
    margin: 1%;
}

.close {
    height: 30px;
    width: 30px;
    color: Black;
    float: right;
}

.close:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}